<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!--
    <appender name="com.sotas.wallet" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="/var/log/paygo/tomcat/widgetGw"/>
        <param name="append" value="true"/>
        <param name="datePattern" value="'.'yyyy-MM-dd'.log'"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd-MM-yyyy HH:mm:ss,SSS} %-5p [%t] %m at %l%n"/>
        </layout>
    </appender>

    <appender name="widgetGwRaw" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="/var/log/paygo/tomcat/widgetGwRaw"/>
        <param name="append" value="true"/>
        <param name="datePattern" value="'.'yyyy-MM-dd'.log'"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd-MM-yyyy HH:mm:ss,SSS} %-5p [%t] %m at %l%n"/>
        </layout>
    </appender>
-->
	<appender name="CONSOLE-DEBUG" class="org.apache.log4j.ConsoleAppender">
	    <param name="target" value="System.out"/>
	    <layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd-MM-yyyy HH:mm:ss,SSS} %-5p [%t] %m at %l%n"/>
	    </layout>
    </appender>

	<root>
		<appender-ref ref="CONSOLE-DEBUG"/>
	</root>

</log4j:configuration>
